*{
    margin: 0;
    padding: 0%;
}

html {
    height: 100%;
    
}

.head {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .head1 {
        display: flex;
        width: 100%;
        height: 150px;
        align-items: center;
        justify-content: center;
        background-color:#0000CD;

        .titulo{
            margin-right: 200px;
            display: flex;
            font-size: 60px;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: white;;
            }
        }

        .navbar {
            justify-content: center;
            display: flex;

            li {
                display: inline;
                padding: 10px;
            }
        }
    }
    .head2{
        height: 60px;
        background-color: #4169E1;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        
        .btnhead {

            background-color: #4169E1;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1010px;

            input {
            
                height: 40px;
                border-radius: 0px 5px 5px 0px;
                border-style: none;
                padding-left: 10px;
                margin-right: 50px;
            }
    
            button {
                height: 40px;
                width: 40px;
                border-radius: 5px 0px 0px 5px;
                border-style: none;
            }
        }
    }
}

.container {
    width: 100%;
    display: flex;
     
    .formulario {
        display: flex;
        width: 700px;
        height: 100px;
        margin-top: 40px;
        margin-left: 50px;
        font-family: 'Times New Roman', Times, serif;
        justify-content: center;
        
        fieldset {
            border: none;
            display: block;
            grid-template-columns: auto auto;
        legend {
            width: 310px;
            background-color: #4169E1;
            margin-bottom: 10px;
            color: white;
        }

        input {
            margin-top: 20px;
            height: 30px;
        }

        } 
    }
}

.container {
    display: flex;
    justify-content: center;
}

.form {
    margin-top: 50px;
    display: block;
    background-color: #4169E1;
    border-style:solid;
    border-radius: 5px;
    border-color: #4169E1;
    height:520px;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    

        h2 {
            margin-top: 15px;
            margin-left: 60px;
        }

        .form1 {
            width: 400px;
            display: flex;
            margin-top: 20px;
            justify-content: center;
            background-color: white;
            border-radius: 0px 0px 5px 5px;
            height: 458px;
            font-family: 'Times New Roman', Times, serif;
            color: black;

            input {
                width: 300px;
                height: 20px;
                border-radius: 5px 5px 5px 5px;
                border-style: solid;
                display: block;
            }

        .campo {
            margin-top: 35px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 5px;

            #descricao{
                height: 100px;
                width: 300px;
                border-radius: 5px;
                border-style: solid;
                border-color: rgb(133, 133, 133);
                border-width: 2px;
                display: block;
                font-family: 'Times New Roman', Times, serif;
                font-size: 16px;
                color: rgb(133, 133, 133);
            }
        }

        .btncampo {
            margin-top: 10px;
            margin-bottom: 0px;
            margin-left: auto;
            margin-right: auto;
            background-color: #4169E1;
            padding: 10px 15px;
            width: 66px;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            color: white;
        }
    }
}